@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

:global {
  .ant-card-extra {
    a {
      color: #0072bc;
      text-decoration: none;
    }
  }
  .ant-card-head::after {
    display: none;
  }
  .ant-fullcalendar-header .ant-radio-group {
    display: none;
  }
  .ant-card-head {
    border-bottom: none;
  }
  .ant-card-head-title {
    padding: 20px 0 0 0;
  }
}
.activeCard {
  :global {
    .ant-list-item-meta-title {
      margin: 0;
    }
  }
}
.activitiesList {
  padding: 0 24px 8px 24px;
  .username {
    color: @text-color;
  }
  .event {
    color: #000;
    font-weight: normal;
  }
  :global {
    .ant-list-item-meta-description {
      > div {
        display: flex;
        span:nth-of-type(1) {
          flex: 1;
        }
        span:nth-of-type(2) {
          display: inline-block;
          width: 120px;
          text-align: right;
        }
      }
    }
  }
}

.projectList {
  :global {
    .ant-card-meta-description {
      height: 44px;
      overflow: hidden;
      color: @text-color-secondary;
      line-height: 22px;
    }
  }
  .cardTitle {
    font-size: 0;
    a {
      display: inline-block;
      height: 24px;
      margin-left: 12px;
      color: @heading-color;
      font-size: @font-size-base;
      line-height: 24px;
      text-decoration: none;
      vertical-align: top;
      &:hover {
        color: @primary-color;
      }
    }
  }
  .projectGrid {
    width: 33.33%;
  }
  .projectItemContent {
    display: flex;
    height: 20px;
    margin-top: 8px;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    .textOverflow();
    .datetime {
      flex: 1 1 0;
      color: @disabled-color;
      text-align: right;
    }
  }
}

.offlineCard {
  :global {
    .ant-tabs-ink-bar {
      bottom: auto;
    }
    .ant-tabs-bar {
      border-bottom: none;
    }
    .ant-tabs-nav-container-scrolling {
      padding-right: 40px;
      padding-left: 40px;
    }
    .ant-tabs-tab-prev-icon::before {
      position: relative;
      left: 6px;
    }
    .ant-tabs-tab-next-icon::before {
      position: relative;
      right: 6px;
    }
    .ant-tabs-tab-active h4 {
      color: @primary-color;
    }
  }
}

.weatherCard {
  :global {
    .ant-card-extra {
      > span {
        img:nth-of-type(1) {
          position: relative;
          top: 3px;
          right: 1px;
          width: 13px;
        }
        span {
          padding: 0 7px 0 3px;
          color: #000;
          font-size: 14px;
        }
        i {
          position: relative;
          top: 3px;
        }
      }
    }
  }
  .weatherBox {
    padding: 0 24px;
    :global {
      .todayWeather {
        display: flex;
        padding-top: 7px;
        padding-bottom: 18px;
        .weatherDate {
          flex: 4;
          span:nth-of-type(1) {
            position: relative;
            left: -7px;
            display: block;
            color: #333;
            font-size: 50px;
          }
          span:nth-of-type(2) {
            color: #000;
            font-size: 16px;
            opacity: 0.55;
          }
        }
        .weatherState {
          flex: 2;
          padding-top: 24px;
          padding-left: 9px;
          span {
            display: block;
            color: #000;
            font-size: 22px;
            opacity: 0.65;
          }
          span:nth-of-type(2) {
            margin-top: 9px;
          }
        }
        .weatherImg {
          flex: 3;
          text-align: right;
          img {
            width: 91%;
            margin-top: 11px;
          }
        }
      }
      .weatherNum {
        position: relative;
        height: 1px;
        margin-top: 18px;
        margin-bottom: 25px;
        color: #888;
        font-size: 16px;
        background: #d8d8d8;
        span:nth-of-type(1) {
          position: absolute;
          top: -24px;
          left: 0;
        }
        span:nth-of-type(2) {
          position: absolute;
          top: -24px;
          right: 0;
        }
        .up {
          position: absolute;
          top: -1px;
          display: block;
          width: 65%;
          height: 3px;
          background: #0072bc;
        }
      }
    }
  }
}
.calendarCard {
  height: 367px;
  :global {
    .nbugs-mobile-calendar-monthly .react-datepicker .react-datepicker__day-name {
      color: #111;
      font-weight: 500;
    }
    .nbugs-mobile-calendar-monthly-react-datepicker .react-datepicker__day {
      color: #555;
    }
    .nbugs-mobile-calendar-monthly .react-datepicker .today,
    .nbugs-mobile-calendar-monthly .react-datepicker .react-datepicker__day--selected {
      color: #fff;
    }
    .ant-card-head {
      margin-bottom: 0;
    }
    .change-type-arrow {
      display: none;
    }
    .nbugs-mobile-calendar-monthly .react-datepicker .react-datepicker__current-month::after {
      display: none;
    }
    .meetingList {
      padding: 0 20px;
      .meetingContent {
        .meetingItem {
          position: relative;
          margin-bottom: 23px;
          span:nth-of-type(1) {
            position: relative;
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #0072bc;
            border-radius: 50%;
          }
          span:nth-of-type(1)::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #fff;
            border-radius: 50%;
          }
          span {
            color: #555;
            font-size: 14px;
          }
          span:nth-of-type(2) {
            padding-left: 6px;
          }
          span:nth-of-type(3) {
            padding-left: 5px;
          }
        }
        .meetingItem::after {
          content: '';
          position: absolute;
          top: 15px;
          left: 5px;
          width: 2px;
          height: 31px;
          background: #e8e8e8;
        }
        .meetingItem:nth-last-of-type(1)::after {
          display: none;
        }
      }
    }
  }
}
.qrCodeCard {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  :global {
    .qrCodeBg {
      display: flex;
      align-items: center;
      width: 102px;
      height: 102px;
      margin: 0 auto;
      margin-bottom: 18px;
      background: #f0f2f5;
    }
    .qrCode {
      width: 90%;
      height: 0;
      margin: 0 auto;
      padding-bottom: 90%;
      background-size: 100% 100%;
    }
    .schoolName {
      color: #0072bc;
    }
  }
}

.salesCard {
  :global {
    .antd-pro-components-charts-pie-index-legendBlock .antd-pro-components-charts-pie-index-legend {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
      }
    }
  }
}
.meetingCard {
  :global {
    .ant-card-extra {
      a {
        color: #000;
      }
      span {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 8px;
        background-color: #2fc25b;
        border-radius: 50%;
      }
    }
  }
}

.personalDeatils {
  height: 602px;
  padding-top: 74px;
  text-align: center;
  :global {
    .headIcon {
      width: 98px;
      height: 98px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 50%;
    }
    .name {
      margin: 15px 0 14px 0;
      color: #000;
      font-weight: 500;
    }
    .role {
      margin-top: 4px;
    }
    .dotLine {
      width: 41%;
      height: 1px;
      margin: 0 auto;
      margin-top: 18px;
      margin-bottom: 18px;
      border-bottom: 1px dashed #ddd;
    }
    .bgImg {
      width: 300px;
      height: 200px;
      margin: 0 auto;
      margin-top: 64px;
      background-image: url(https://s.xiaoyuanhao.com/nbugs/images/bg_image.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.indexModal {
  :global {
    width: 580px!important;
    height: 467px;
    p {
      margin: 0;
      padding: 0;
    }
    .ant-modal-body {
      padding: 0 0 24px 0;
      .ant-modal-confirm-content {
        margin: 0;
        .headerBackImg {
          img {
            width: 100%;
            height: 100%;
          }
        }
        .modalContentTxt {
          padding: 24px 24px 0;
          .titleTxt {
            font-size: 14px;
            color: rgba(0, 0, 0, .85);
          }
          .moreDetail, .introTxt, .endTxt {
            font-size: 12px;
            margin-top: 6px;
            color: rgba(0, 0, 0, .5);
          }
          .introTxt {
            margin-top: 18px;
            .introTxtItem {
              display: flex;
              .introTxtTitle {
                width: 20px;
              }
            }
          }
          .endTxt {
            text-align: right;
          }
        }
      }
      .ant-modal-confirm-btns {
        width: 100%;
        margin-top: 14px;
        text-align: center;
        button {
          width: 176px;
          height: 40px;
          font-size: 16px;
          border-radius: 4px;
          background-color: #1785EC;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .projectList {
    .projectGrid {
      width: 50%;
    }
  }
}

// @media screen and (max-width: @screen-sm) {
// }

@media screen and (max-width: @screen-xs) {
  .projectList {
    .projectGrid {
      width: 100%;
    }
  }
}
