<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="dns-prefetch" href="http:///alifd.alicdn.com/" />

    <title>后台管理</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />

    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="//ueditor.xiaoyuanhao.com/wxeditor/css/wxeditor/jquery.jgrowl.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//ueditor.xiaoyuanhao.com/wxeditor/css/wwei_editor.css"
    /> -->

    <link rel="stylesheet" href="https://alifd.alicdn.com/npm/@alifd/next/1.11.6/next.min.css">


       <!-- <meta name="x-server-env" content="dev" /> -->
    <!--<meta name="x-server-env" content="{{settings.env}}">-->
          <meta name="x-server-env" content="test" />
    <!-- <meta name="x-server-env" content="production" /> -->
  </head>

  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
    <!-- 引入在线资源 -->
<!-- <script src="https://gosspublic.alicdn.com/aliyun-oss-sdk-6.10.0.min.js"></script>                            -->
    <!-- <div id="root-slave"></div> -->
  </body>
</html>
